

.menu-nav-buttons{
	background-color: #e8b16d;
	text-align: center;
    color:#603f16;
	margin-left: 8vw;
	font-size: 2vw;
	border-radius: 10%;
	border-width: 0;
	justify-content: center;
	justify-items: center;
	
}
.menu-nav-buttons:hover{
	background-color: var(--primary);
	color: var(--quatrinary);
}

