


.menu-nav-buttons-dinner{
	background-color: var(--tertiary);

	margin-left: 8vw;
	justify-content: center;
	justify-items: center;
	font-size: 2vw;
	border-radius: 10%;
	border-width: 0;
}
.menu-nav-buttons-dinner:hover{
	background-color: rgb(178, 167, 155);
	color: var(--dark);
	


}
