
.date {
    background-color: #77480e;
    color: #f4e9dc;
}

#date-text {
    text-align: center;
}

.item {
    font-size: 1.3vw;
}

.items {
    height: 45px;
}

#quantity {
    width: 10%;
    background-color: #f4e9dc;
    border: none;
    text-align: center;
}

.col-1 {
    padding-right: 40px;
}



